Flask==2.2.2
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.3
Flask-SocketIO==5.3.2
HeapDict==1.0.1
Jinja2==3.1.2
LunarCalendar==0.0.9
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
Pillow==9.4.0
PyJWT==2.6.0
PyMeeus==0.5.12
PyYAML==6.0
SQLAlchemy==1.4.46
Werkzeug==2.2.2
alembic==1.9.2
aniso8601==9.0.1
apispec==5.2.2
apispec-webframeworks==0.5.2
appdirs==1.4.4
beautifulsoup4==4.11.2
bidict==0.22.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.1
cmdstanpy==1.1.0
colorama==0.4.6
contourpy==1.0.7
convertdate==2.4.0
cryptography==39.0.0
cycler==0.11.0
dask==2023.1.1
deepdiff==6.2.3
distributed==2023.1.1
dnspython==2.3.0
ephem==4.1.4
et-xmlfile==1.1.0
flask-marshmallow==0.14.0
fonttools==4.38.0
frozendict==2.3.4
fsspec==2023.1.0
gevent==22.10.2
gevent-websocket==0.10.1
gitignore-parser==0.1.2
greenlet==2.0.2
h11==0.14.0
hijri-converter==2.2.4
holidays==0.19
html5lib==1.1
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
kthread==0.2.3
locket==1.0.0
lxml==4.9.2
marshmallow==3.19.0
marshmallow-sqlalchemy==0.28.1
matplotlib==3.6.3
modin==0.18.1
msgpack==1.0.4
multitasking==0.0.11
networkx==2.8.8
numpy==1.24.2
openpyxl==3.1.0
ordered-set==4.1.0
orjson==3.8.5
packaging==23.0
pandas==1.5.3
partd==1.3.0
passlib==1.7.4
pip==22.3.1
prophet==1.1.2
psutil==5.9.4
pyarrow==10.0.1
pycparser==2.21
pymongo==4.3.3
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-engineio==4.3.4
python-socketio==5.7.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.2
setuptools==65.5.1
simple-websocket==0.9.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
taipy==2.1.0
taipy-config==2.1.0
taipy-core==2.1.0
taipy-gui==2.1.0
taipy-rest==2.1.0
tblib==1.7.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
webencodings==0.5.1
wheel==0.38.4
wsproto==1.2.0
yfinance==0.2.9
zict==2.2.0
zipp==3.12.1
zope.event==4.6
zope.interface==5.5.2
